#NutritionContainer{
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  width: 100%;
  font-family: 'Nunito', sans-serif;
}

#NutritionView{
  min-height: 0vh;
  width: 95vw;
  display:flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  border: 1px solid #1F0CAD;
  margin-top: 2vh;
  font-size: 1rem;
  overflow: hidden;
}

#NutritionView > p{
  font-size: 4.5em;
}

#NutritionViewMacroWrapper{
  width: 100%;
  min-height: 0vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#NutritionViewMacroWrapper > p{
  min-width: calc(80% / 3);
  font-size: 3em;
}

#NutritionViewMacroWrapper > p > span{
  white-space: nowrap;
}

#NVButtonsWrapper{
  width: 95vw;
  height: 12vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 7px;
}

.NVInnerWrapper{
  width: 100%;
  height: 50%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1rem;
}

.NVButtons{
  min-height: 5vh;
  width: 47vw;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #1F0CAD;
  box-sizing: border-box;
  background-color: white;
  color: black;
  font-size: 1.25em;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
}

.NVButtons:hover{
  background-color: #1F0CAD;
  color: white;
}

.NutritionMealDividers{
  width: 95vw;
  border: 1px solid black;
  box-sizing: border-box;
  margin-bottom: 20px;
  box-shadow: 7px 7px 7px #707070;
  font-size: 1rem;
}

.MealItemCollapsible{
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.MealNameWrapper{
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid black;
  padding: 2px;
  box-sizing: border-box;
  background-color: #1F0CAD;
}

.MealNameWrapper > p {
  font-size: 2.25em;
  font-weight: 200;
  color: white;
}

.NutritionDownArrowImg{
  height: 50px;
  width: 50px;
  box-sizing: border-box;
  cursor: pointer;
}

.MealItemsWrapper{
  height: auto;
  width: 100%;
  padding: 5px;
  box-sizing: border-box;
  font-size: 1rem;
}

.NutritionMealItems{
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #707070;
  margin-bottom: 1vh;
  cursor:pointer;
}

.NutritionMealItems > div{
  display: flex;
  align-items: center;
  font-size: 1.25em;
}

.NutritionMealItems > p{
  font-size: 1.25em;
}

.NutritionDeleteBtn{
 height: 40px;
 width: 40px;
 margin-left: 15px;
 margin-top: 5px;
}

.AddFoodImgWrapper{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-top: 1px solid black;
  box-sizing: border-box;
  background-color: #1F0CAD;
  cursor: pointer;
}

.AddFoodImgWrapper:hover{
  opacity: 0.85;
}

.AddFoodImg{
  height: 50px;
  width: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 5px;
  box-sizing: border-box;
}

.NutritionMealModal{
  width: 100vw;
  height: 100vh;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.5);
  overflow: auto;
}

.NutritionModalContent{
  height: 50vh;
  width: 50vw;
  display: flex;
  flex-direction: column;
  background-color: white;
  border: 1px solid #1F0CAD;
  box-sizing: border-box;
  opacity: 1;
}

.NutritionModalHeader{
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  padding: 5px;
  box-sizing: border-box;
  background-color: #1F0CAD;
  color: white;
  font-weight: 500;
  flex: 0.5;
}

.NutritionModalHeader > p{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex: 1;
}

.ModalServingDiv{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  flex: 1;
}

.NutritionModalTextArea{
  resize: none;
  border: none;
  outline: none;
  height: 60%;
  min-width: 15%;
  max-width: 15%;
  width: 15%;
  margin-left: 10px;
  font-size: 1em;
  border: 1px solid white;
  padding: 2px;
  box-sizing: border-box;
  background-color: #1F0CAD;
  color: white;
  text-align: center;
}

.NutritionModalBody{
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: auto;
  flex: 2;
}

.NutritionModalItems{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin: 5px 0 5px;
  padding: 3px;
  border-bottom: 1px solid #1F0CAD;
  box-sizing: border-box;
}

.NutritionModalItems > p:last-child{
  white-space: nowrap;
  margin-left: 3px;
}

/*

MEDIA QUERIES

*/

@media only screen and (max-width: 1242px){
  #NutritionViewMacroWrapper > p{
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

@media only screen and (max-width: 796px){
  #NutritionView{
    font-size: 0.7rem;
  }
  .MealItemsWrapper{
    font-size: 0.85rem;
  }
  .NutritionModalContent{
    height: 60vh;
    width: 80vw;
  }
}

@media only screen and (max-width: 554px){
  #NutritionView{
    font-size: 0.5rem;
  }
  .MealItemsWrapper{
    font-size: 0.8rem;
  }
  .NVInnerWrapper{
    font-size: 0.85rem;
  }
}

@media only screen and (max-width: 440px){
  #NutritionView > p{
    font-size: 3.5em;
  }
  #NutritionViewMacroWrapper > p > span{
    font-size: 0.75em;
  }
  .NVInnerWrapper{
    font-size: 0.75rem;
  }
}

@media only screen and (max-width: 360px){
  .NVInnerWrapper{
    font-size: 0.65rem;
  }
}

@media only screen and (max-height: 500px){
  .NutritionModalContent{
    height: 70vh;
    width: 80vw;
  }
  #NVButtonsWrapper{
    height: 20vh;
  }
  .NVInnerWrapper{
    font-size: 1.1rem;
  }
}

@media only screen and (max-height: 320px){
  .NVInnerWrapper{
    font-size: 1rem;
  }
}

@media only screen and (min-height: 1000px){
  .NVInnerWrapper{
    font-size: 1.25rem;
  }
}
