#WoContainer{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  min-height: 0vh;
  font-family: 'Nunito',sans-serif;
}

#WoWrapper{
  display: flex;
  justify-content: space-around;
  margin-top: 2vh;
  width: 100%;
  max-height: 6.5vh;
  font-size: 1rem;
}

.WoDropdownDiv{
  position: relative;
  display: inline-block;
  width: 30vw;
}

.WoDropdownDiv:hover .WoViews{
  background-color: #1F0CAD;
  color: white;
  border:none;
}

.WoViews{
  width: 30vw;
  border: 1px solid #1F0CAD;
  box-sizing: border-box;
  font-family: 'Nunito', sans-serif;
  font-size: 2em;
  font-weight: 600;
  text-align: center;
  white-space: nowrap;
  color: black;
  cursor: pointer;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.WoViews:hover{
  background-color: #1F0CAD;
  color: white;
  border:none;
}

.WoViewsDropdown{
  overflow: auto;
  visibility: hidden;
  max-height: 25vh;
  display:flex;
  flex-direction: column;
  background-color: #1F0CAD;
}

.WoDropdownDiv:hover .WoViewsDropdown{
  visibility: visible;
}

.WoDropdownItem{
  border-top: 1px solid white;
  box-sizing: border-box;
  text-decoration: none;
  text-align: center;
  font-size: 1.15em;
  font-weight: 200;
  color: white;
}

.WoDropdownItem:active{
  color: red;
}

.CurrentRoutineWorkouts{
  width: 96.7vw;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-top: 3vh;
  border: 1px solid #1F0CAD;
  box-shadow: 12px 12px 2px 1px rgba(0, 0, 255, .2);
  box-sizing: border-box;
}

.CurrentRoutineWorkoutsHeader{
  width: 96.7vw;
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  padding: 5px;
  box-sizing: border-box;
  overflow: hidden;
  font-size: 1rem;
}

.CurrentRoutineWorkoutsTitle{
  overflow: hidden;
  display: flex;
  flex-direction: column;
  padding-left: 19px;
  box-sizing: border-box;
}

.CurrentRoutineWorkoutsTitle > p{
  font-weight: 900;
  font-style: italic;
  font-size: 3em;
  color: #1F0CAD;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.CurrentRoutineWorkoutsTitle > p:first-of-type{
  margin-right: 3vh;
}

.CurrentRoutineItems{
  width: 96.7vw;
  min-height: 0vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-top: 1px solid #1F0CAD;
  box-sizing: border-box;
  font-size: 1rem;
}

.CurrentRoutineItemHeader{
  width: 98.5%;
  min-height: 9vh;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.CurrentRoutineItemHeader > p{
  height: 100%;
  width: 100%;
  font-size: 3em;
  font-weight: 200;
  color: #1F0CAD;
}

.CurrentRoutineSetsReps{
  width: 93.5%;
  margin-bottom: 1vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1rem;
}

.CurrentRoutineSetsReps > p{
  height: 10vh;
  line-height: 1.9;
  font-size: 3em;
  font-weight: 200;
}

.CurrentRoutineValues, .CurrentRoutineValues:focus{
  resize: none;
  border: none;
  outline: none;
  overflow: hidden;
  white-space: nowrap;
  width: 12vw;
  height: 10vh;
  border-bottom: 1px solid #1F0CAD;
  box-sizing: border-box;
  text-align: center;
  text-overflow: ellipsis;
  font-size: 3em;
  font-weight: 200;
  color: #1F0CAD;
  line-height: 1.75;
}

.SetDeleteBtn{
 height: 7vh;
 margin-top: 3vh;
 cursor: pointer;
}

.CurrentRoutineAddSet{
  height: 10vh;
  width: 100%;
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 2.75em;
  font-weight: 200;
  cursor: pointer;
}

.CurrentRoutineAddSet > p{
  margin-right: 1.75vh;
}

.CurrentRoutineAddSet:hover > p{
  color: #1F0CAD;
  text-decoration: underline;
}

#WoBtnsWrapper{
  height: 10vh;
  display: flex;
}

.WoBtns{
  max-width: 15vh;
  display: flex;
  justify-content: flex;
  align-items: center;
  cursor: pointer;
}

.WoBtns:not(:last-child){
 margin-right: 3vh;
}

.WoBtns:hover{
  opacity: 0.75;
}

#EditBtn{
  max-width: 15vh;
  height: 100%;
}

#AddRoutineBtn{
  height: 10vh;
  min-width: 8vw;
  position: fixed;
  right: 0;
  bottom: 0;
}

/*

MEDIA QUERIES
change the line height of CurrentRoutineValues at each point and
also might just use the text-overflow: ellipsis
*/

@media only screen and (min-height: 1000px){
  #WoBtnsWrapper{
    height: 8vh;
  }
  .CurrentRoutineSetsReps > p{
    line-height: 3;
  }
  .CurrentRoutineValues, .CurrentRoutineValues:focus{
    line-height: 3;
  }
}

@media only screen and (min-height: 1250px){
  .CurrentRoutineSetsReps > p{
    line-height: 3.5;
  }
  .CurrentRoutineValues, .CurrentRoutineValues:focus{
    line-height: 3.5;
  }
}

@media only screen and (max-width: 1173px){
  .CurrentRoutineSetsReps{
    width: 98%;
  }
  .CurrentRoutineValues, .CurrentRoutineValues:focus{
    width: 20vw;
  }
}

@media only screen and (max-width: 618px){
  #WoWrapper{
    font-size: 0.7rem;
    max-height: 4vh;
  }
  .CurrentRoutineWorkouts{
    margin-top: 2.5vh;
  }
  .CurrentRoutineValues, .CurrentRoutineValues:focus{
    font-size: 2.5em;
  }
}

@media only screen and (max-width: 524px){
  .CurrentRoutineItems{
    font-size: 0.7rem;
  }
  .CurrentRoutineValues, .CurrentRoutineValues:focus{
    font-size: 2em;
    line-height: 2.75;
  }
  .CurrentRoutineSetsReps > p{
    font-size: 2em;
    line-height: 2.85;
  }
  .SetDeleteBtn{
    padding-top: 10px;
    box-sizing: border-box;
  }
}

@media only screen and (max-width: 440px){
  #WoWrapper{
    font-size: 0.55rem;
  }
  .CurrentRoutineWorkouts{
    margin-top: 2vh;
  }
  .CurrentRoutineWorkoutsHeader{
    font-size: 0.75rem;
  }
}

@media only screen and (max-width: 370px){
  .CurrentRoutineItems{
    font-size: 0.5rem;
  }
}

@media only screen and (max-width: 342px){
  #WoWrapper{
    font-size: 0.5rem;
  }
  .CurrentRoutineWorkoutsHeader{
    font-size: 0.65rem;
  }
}
