#WoContainer{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  font-family: 'Nunito',sans-serif;
}

#WoWrapper{
  display: flex;
  justify-content: space-around;
  margin: 2vh 0 2vh;
  width: 100%;
  font-size: 1rem;
}

.WoDropdownDiv{
  position: relative;
  display: inline-block;
  width: 30vw;
  height: 0vh;
}

.WoDropdownDiv:hover .WoViews{
  background-color: #1F0CAD;
  color: white;
  border:none;
}

.WoViews{
  overflow: hidden;
  width: 30vw;
  border: 1px solid #1F0CAD;
  box-sizing: border-box;
  font-size: 2em;
  font-weight: 600;
  text-align: center;
  white-space: nowrap;
  color: black;
  cursor: pointer;
  white-space: nowrap;
  text-overflow: ellipsis;
  text-decoration: none;
}

.WoViews:hover{
  background-color: #1F0CAD;
  color: white;
}

.WoViewsDropdown{
  overflow: auto;
  overflow-x: hidden;
  max-height: 25vh;
  display:flex;
  display: none;
  flex-direction: column;
  background-color: #1F0CAD;
}

.WoDropdownDiv:hover .WoViewsDropdown{
  display: flex;
}

.WoDropdownItem{
  border-top: 1px solid white;
  box-sizing: border-box;
  text-decoration: none;
  text-align: center;
  font-size: 1.5em;
  font-weight: 200;
  color: white;
}

.WoDropdownItem:active{
  color: red;
}

.CurrentRoutineWorkouts{
  width: 96.7vw;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 2vh;
  border: 1px solid #1F0CAD;
  box-shadow: 12px 12px 2px 1px rgba(0, 0, 255, .2);
  box-sizing: border-box;
}

.CurrentRoutineWorkoutsHeader{
  width: 100%;
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  padding: 5px;
  box-sizing: border-box;
  overflow: hidden;
  font-size: 1rem;
}

.CurrentRoutineWorkoutsTitle{
  overflow: hidden;
  display: flex;
  flex-direction: column;
  padding-left: 19px;
  box-sizing: border-box;
}

.CurrentRoutineWorkoutsTitle > p{
  font-weight: 900;
  font-style: italic;
  font-size: 3em;
  color: #1F0CAD;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.CurrentRoutineWorkoutsTitle > p > span{
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.CurrentRoutineWorkoutsTitle > p:first-of-type{
  margin-right: 3vh;
}

.CurrentRoutineItems{
  width: 96.7vw;
  min-height: 0vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-top: 1px solid #1F0CAD;
  box-sizing: border-box;
  font-size: 1rem;
}

.CurrentRoutineItemHeader{
  width: 98.5%;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex: 1;
}

.CurrentRoutineItemHeader > p{
  height: 100%;
  width: 100%;
  font-size: 3em;
  font-weight: 200;
  color: #1F0CAD;
}

.CurrentRoutineSetsReps{
  height: 10vh;
  width: 93.5%;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  font-size: 1rem;
  flex: 1;
}

.CurrentRoutineSetsReps > p{
  height: 100%;
  font-size: 3em;
  font-weight: 200;
}

.CurrentRoutineValues, .CurrentRoutineValues:focus{
  resize: none;
  border: none;
  outline: none;
  overflow: hidden;
  white-space: nowrap;
  text-align: center;
  height: 90%;
  text-overflow: ellipsis;
  font-size: 3em;
  font-weight: 200;
  color: #1F0CAD;
  text-decoration: underline;
  flex: 1;
}

.SetDeleteBtn{
  height: 80%;
  display: flex;
  align-self: center;
  cursor: pointer;
}

.CurrentRoutineAddSet{
  width: 100%;
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-right: 2vh;
  font-size: 2.75em;
  font-weight: 200;
  cursor: pointer;
  flex: 0.75;
}

.CurrentRoutineAddSet:hover > p{
  color: #1F0CAD;
  text-decoration: underline;
}

#WoBtnsWrapper{
  height: 10vh;
  display: flex;
}

.WoBtns{
  max-width: 15vw;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.WoBtns:hover{
  opacity: 0.75;
}

#EditBtn{
  width: 100%;
  height: 100%;
}

#AddRoutineBtn{
  display: none;
  height: 10vh;
  min-width: 8vw;
  position: fixed;
  right: 0;
  bottom: 0;
}

/*

MEDIA QUERIES

*/

@media only screen and (max-width: 1173px){
  .CurrentRoutineSetsReps{
    width: 98%;
  }
}

@media only screen and (max-width: 618px){
  #WoWrapper{
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    margin: 0;
  }
  #WoWrapper > div:first-child{
    order: 1;
    flex: 1;
  }
  #WoWrapper > a{
    display: none;
  }
  #WoWrapper > .WoDropdownDiv{
    order: 2;
    flex: 1;
  }
  .CurrentRoutineWorkouts{
    width: 100%;
  }
  .WoDropdownDiv,
  .WoViews{
    width: 100vw;
  }
  .CurrentRoutineItemHeader,
  .CurrentRoutineItems,
  .CurrentRoutineSetsReps{
    width: 100%;
  }
  .CurrentRoutineWorkoutsTitle{
    padding: 0;
  }
  .CurrentRoutineValues, .CurrentRoutineValues:focus{
    font-size: 2.5em;
  }
  #AddRoutineBtn{
    display: inline;
  }
  #WoBtnsWrapper{
    justify-content: space-around;
  }
}

@media only screen and (max-width: 524px){
  .CurrentRoutineItems{
    font-size: 0.7rem;
  }
  .CurrentRoutineValues, .CurrentRoutineValues:focus{
    font-size: 2em;
  }
  .CurrentRoutineWorkoutsTitle > p{
    display: flex;
    flex-direction: column;
  }
  .CurrentRoutineSetsReps{
    height: 9vh;
  }
  .CurrentRoutineSetsReps > p{
    font-size: 2em;
  }
  .SetDeleteBtn{
    height: 70%;
  }
}

@media only screen and (max-width: 440px){
  .CurrentRoutineWorkoutsHeader{
    font-size: 0.75rem;
  }
  .CurrentRoutineSetsReps > p{
    align-self: center;
  }
  .SetDeleteBtn{
    height: 70%;
  }
  .CurrentRoutineAddSet{
    font-size: 3.5em;
  }
}

@media only screen and (max-width: 370px){
  .CurrentRoutineItems{
    font-size: 0.5rem;
  }
  .SetDeleteBtn{
    align-self: center;
  }
}

@media only screen and (max-width: 342px){
  .CurrentRoutineWorkoutsHeader{
    font-size: 0.65rem;
  }
}

@media only screen and (max-height: 500px){
  .CurrentRoutineSetsReps{
    height: 20vh;
  }
  #WoBtnsWrapper{
    height: 15vh;
  }
}

@media only screen and (min-height: 1000px){
  #WoBtnsWrapper{
    height: 8vh;
  }
}

@media only screen and (min-height: 1250px){
  .CurrentRoutineSetsReps{
    height: 7vh;
  }
  .CurrentRoutineAddSet{
    font-size: 3em;
  }
}
