#Story{
  width: 100vw;
  display: flex;
  font-family: 'Nunito', sans-serif;
}

#StoryStatView{
  width: 30vw;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 1rem;
}

#StoryStatContent{
  width: 95%;
  margin-top: 2.5vh;
  border: 1px solid #1F0CAD;
  box-sizing: border-box;
}

#StoryStatHeader{
  width: 100%;
  height: 20%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-bottom: 1px solid #1F0CAD;
  box-sizing: border-box;
  overflow: hidden;
}

#StoryStatHeader > img{
  height: 90%;
  clip-path: circle(45%);
}

#StoryStatHeader > p{
  font-size: 2.25em;
  font-weight: 200;
  white-space: pre-line;
}

#StoryStatList{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: 80%;
}

.StoryStatListItem{
  width: 100%;
  display: flex;
  align-items: center;
  padding: 5px;
  box-sizing: border-box;
  font-size: 3em;
  font-weight: 200;
  overflow: hidden;
}

.StoryStatListItem:not(:last-child){
  min-height: 20vh;
  border-bottom: 1px solid #1F0CAD;
}

.StoryStatListItem:last-child{
  min-height: 10vh;
  display: flex;
  justify-content: center;
  color: red;
  text-decoration: none;
  cursor: pointer;
}

.StoryStatListItem:last-child:hover{
  color: white;
  background-color: red;
}

#StoryTimeline{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 70vw;
}

#StorySubmission{
  width: 95%;
  height: 40vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

#StorySubmissionContent{
  width: 100%;
  height: 25vh;
  border: 1px solid #1F0CAD;
  box-sizing: border-box;
}

#StorySubmitText, #StorySubmitText:focus{
  display: block;
  resize: none;
  outline: none;
  height: 50%;
  width: 100%;
  border: none;
  font-family: 'Nunito', sans-serif;
  font-size: 2em;
  font-weight: 200;
}

#StorySubmitMediaDiv{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50%;
  width: 100%;
}

.StorySubmitMedia{
  max-width: 100%;
  max-height: 100%;
}

#StorySubmissionButtons{
  height: 10vh;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.inputFile{
  height: 0.1px;
  width: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}

.inputLabel{
  height: 67.5%;
  min-width: 30%;
  white-space: nowrap;
  overflow: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #1F0CAD;
  padding: 2px;
  box-sizing: border-box;
  cursor: pointer;
}

.inputLabel:hover{
  background-color: #1F0CAD;
  color: white;
}

.inputLabel:active{
  color: red;
}

#StorySubmitBtn{
  height: 67.5%;
  min-width: 15%;
  background-color: #1F0CAD;
  color: white;
  font-size: 0.85em;
  box-sizing: border-box;
}

#StorySubmitBtn:hover{
  opacity: 0.85;
  cursor: pointer;
}


#StoriesList{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: 'Nunito',sans-serif;
}

.Stories{
  width: 95%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid #1F0CAD;
  box-sizing: border-box;
}

.StoriesHeader{
  width: 100%;
  height: 10vh;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  background-color: #1F0CAD;
  color: white;
  font-size: 1.25em;
}

.StoriesHeader > p{
  white-space: pre;
}

.StoriesHeader > img{
  max-height: 100%;
  clip-path: circle(40%);
}

.StoriesTextDiv{
  margin: 2vh;
  width: 98%;
  min-height: 5vh;
  overflow: auto;
  font-size: 1.25em;
}

.StoriesMediaDiv{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  background-color: black;
  border-top: 1px solid #707070;
  box-sizing: border-box;
}

.StoriesMedia{
  max-width: 100%;
}

.StoriesButtonWrapper{
  width: 95%;
  margin-top: 1vh;
  margin-bottom: 3vh;
}

.StoriesButtonWrapper > button{
  min-width: 15vw;
  height: 5vh;
  border: 1px solid #1F0CAD;
  box-sizing: border-box;
  background-color: white;
  font-size: 1em;
  cursor: pointer;
}

.StoriesButtonWrapper > button:first-child{
  margin-right: 2vw;
}

.StoriesButtonWrapper > button:hover{
  background-color: #1F0CAD;
  color: white;
}

#StoryModal{
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0,0,0,0.5);
  font-family: 'Nunito', sans-serif;
}

#StoryModalContent{
  width: 50%;
  height: 60%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
}

#StoryModalHeader{
  width: 100%;
  height: 15%;
  display: flex;
  justify-content: space-between;
  padding: 0px 10px 0px;
  box-sizing: border-box;
  align-items: center;
  background-color: #1F0CAD;
  color: white;
  font-size: 2em;
}

#StoryModalHeader > p:nth-child(even){
  cursor: pointer;
}

#StoryModalText, #StoryModalText:focus{
  outline: none;
  resize: none;
  border: none;
  height: 25%;
  width: 100%;
  padding-left: 3px;
  border-bottom: 1px solid #707070;
  box-sizing: border-box;
  font-weight: 200;
  font-size: 2em;
}

#StoryModalMediaWrapper{
  width: 100%;
  height: 45%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
}

.StoryModalMedia{
  max-width: 100%;
  max-height: 100%;
}

#StoryModalBtnWrapper{
  width: 100%;
  height: 15%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-top: 1px solid #707070;
  box-sizing: border-box;
}

#StoryModalBtnWrapper > label{
  margin-right: 2.5%;
}

#StoryModalBtnWrapper > button{
  height: 67.5%;
  min-width: 30%;
  border: 1px solid #1F0CAD;
  box-sizing: border-box;
  margin-left: 2.5%;
  font-size: 1em;
  cursor: pointer;
  background-color: white;
}

#StoryModalBtnWrapper > button:hover{
  background-color: #1F0CAD;
  color: white;
  cursor: pointer;
}
