#MacroCalculator{
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: 'Nunito',sans-serif;
  overflow: auto;
  overflow-x: hidden;
}

#MacroTitleWrapper{
  width: 100%;
  height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid black;
  margin-bottom: 2vh;
  color: #1F0CAD;
  font-size: 3em;
  flex: 0.5;
}

#MacroInfoDiv{
  width: 95%;
  white-space: pre-line;
  border: 1px solid black;
  box-sizing: border-box;
  font-size: 1.5rem;
  padding-left: 1vh;
  margin-bottom: 1vh;
  flex: 0.5;
}

#MacroBoxWrapper{
  height: 45vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  flex: 3;
}

.MacroWrapper{
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1rem;
}

.MacroWrapper > div{
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
}

.MacroPercentBox, .MacroPercentBox:focus{
  overflow: hidden;
  resize:none;
  width: 50%;
  height: 50%;
  border: 1px solid #1F0CAD;
  box-sizing: border-box;
  font-size: 2.5em;
  color: #1F0CAD;
  text-align: center;
}

.MacroWrapper > p{
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2.5em;
  font-weight: 200;
  color: #1F0CAD;
  flex: 1;
}

#MacroButtonWrapper{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1rem;
  flex: 0.25;
}

#MacroFinishButton{
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #1F0CAD;
  box-sizing: border-box;
  font-size: 2em;
  text-decoration: none;
}

#MacroFinishButton:hover{
  background-color: #1F0CAD;
  color: white;
}

/*

MEDIA QUERIES

 */

 @media only screen and (max-width: 768px){
   .MacroPercentBox, .MacroPercentBox:focus{
     width: 90%;
   }
 }

 @media only screen and (max-width: 522px){
   #MacroTitleWrapper{
     font-size: 2.5em;
   }
   #MacroBoxWrapper{
     justify-content: space-between;
   }
 }

 @media only screen and (max-width: 418px){
   #MacroTitleWrapper{
     font-size: 2em;
   }
   #MacroBoxWrapper{
     flex-direction: row;
   }
   .MacroWrapper{
     flex-direction: column;
     justify-content: space-between;
     height: 100%;
   }
 }

 @media only screen and (max-width: 341px){
   #MacroTitleWrapper{
     font-size: 1.75em;
   }
   .MacroWrapper{
     font-size: 0.9rem;
   }
 }

 @media only screen and (max-height: 600px){
   #MacroInfoDiv{
     display: none;
   }
 }

 @media only screen and (max-height: 500px){
   #MacroCalculator{
     height: 120vh;
   }
 }

 @media only screen and (min-height: 1050px){
   #MacroTitleWrapper{
     font-size: 4em;
   }
   #MacroInfoDiv{
     flex: 1;
     font-size: 2.5rem;
   }
   #MacroBoxWrapper{
     flex: 4;
   }
   .MacroWrapper{
     height: 100%;
     font-size: 2rem;
   }
   #MacroFinishButton{
     font-size: 3em;
   }
 }
