#BMRCalculator{
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  font-family: 'Nunito', sans-serif;
}

#BMRHeader{
  overflow: auto;
  height: 15vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 10px;
  color: #1F0CAD;
  font-size: 1rem;
}

#BMRHeader > h1{
  height: 50%;
  font-size: 3em;
}

#BMRHeader > p{
  height: 50%;
  padding: 5px;
  box-sizing: border-box;
}

#userInfoOuter{
  height: 70vh;
  width: 100vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1rem;
}

.userInfoColumn{
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.userInfoWrapper{
  width: 80%;
  display:flex;
  justify-content: space-between;
  align-items: center;
}

.userTraits{
  font-size: 3em;
}

.userTraitsAnswer{
  border: 1px solid #707070;
  height: 6vh;
  width: 12vw;
  resize:none;
  opacity: 0.8;
}

#ftInWrapper{
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: auto;
  width: 12vw;
}

#feet, #inches{
  width: 5vw;
}

.userTraitsAnswer:focus, .userTraitsAnswer{
 outline: none;
 font-weight: 200;
 color: #1F0CAD;
 font-size: 2em;
}

.BMRDropdownWrapper{
  height: 6vh;
  cursor: pointer;
}

.BMRDropdownWrapper:hover .BMRDropdownDiv{
  background-color: #1F0CAD;
  color: white;
  border:none;
}

.BMRDropdownDiv{
  width: 12vw;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #707070;
  box-sizing: border-box;
  font-size: 1.65em;
  font-weight: 200;
  text-align: center;
  color: #1F0CAD;
}

.BMRDropdownDiv:hover{
  background-color: #1F0CAD;
  color: white;
  border:none;
}

.BMRDropdown{
  display:none;
  text-decoration: none;
  flex-direction: column;
  border: 1px solid #1F0CAD;
  box-sizing: border-box;
  background-color: #1F0CAD;
}

.BMRDropdownWrapper:hover .BMRDropdown{
  display:flex;
}

.BMRDropdownLi{
  font-weight: 200;
  color: white;
  border-top: 1px solid white;
  text-decoration: none;
  text-align: center;
}

.BMRDropdownLi:active{
  color: red;
}

#BMRButtonWrapper{
  position: fixed;
  bottom: 4vh;
  height: 7vh;
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.BMRButton{
  overflow: hidden;
  height: 100%;
  min-width: 15%;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #1F0CAD;
  box-sizing: border-box;
  font-size: 2em;
  text-decoration: none;
  color: black;
  cursor: pointer
}

.BMRButton:hover{
  background-color: #1F0CAD;
  color: white;
}

#BMRFinishBtn{
  margin-left: 3%;
  margin-right: 5%;
}

#BMRModal{
  position: absolute;
  background-color: rgba(0,0,0,0.7);
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
}

#BMRModalContent{
  height: 50vh;
  width: 50vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: white;
  color: #1F0CAD;
  font-size: 5em;
  font-weight: 200;
}

/*

Macro Calculator for Nutrition Page

*/

#MacroCalculator{
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: 'Nunito',sans-serif;
}

#MacroTitleWrapper{
  width: 100vw;
  height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid black;
  margin-bottom: 2vh;
  font-size: 1rem;
}

#MacroTitleWrapper > h1{
  display: flex;
  justify-content: center;
  color: #1F0CAD;
  font-size: 3em;
}

#MacroInfoDiv{
  width: 95vw;
  white-space: pre-line;
  border: 1px solid black;
  box-sizing: border-box;
  font-size: 1.5rem;
  padding-left: 1vh;
  margin-bottom: 1vh;
}

#MacroBoxWrapper{
  height: 45vh;
  width: 100%;
  display: flex;
  justify-content: space-around;
}

#MacroValueSpecifier,
.MacroWrapper{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  font-size: 1rem;
}

.MacroPercentBox, .MacroPercentBox:focus{
  height: 7vh;
  width: 10vw;
  border: 1px solid #1F0CAD;
  resize:none;
  font-size: 2.5em;
  color: #1F0CAD;
  text-align: center;
}

#MacroValueSpecifier > p,
.MacroWrapper > p{
  font-size: 2em;
  font-weight: 200;
  color: #1F0CAD;
}

#MacroButtonWrapper{
  width: 100%;
  height: 15vh;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  font-size: 1rem;
}

#MacroFinishButton{
  min-width: 15%;
  height: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 2.5%;
  border: 1px solid #1F0CAD;
  box-sizing: border-box;
  font-size: 2em;
  text-decoration: none;
}

#MacroFinishButton:hover{
  background-color: #1F0CAD;
  color: white;
}
