* {
  margin: 0;
  padding: 0;
}
/*

Header

*/

#header{
  height: 15vh;
  min-width: 100vw;

  display:flex;
  align-items: flex-end;

  background-image: url("./assets/main-header.jpg");
}

.IconWrapper{
  position: absolute;
  top: 0vh;
  height: 10vh;

  display: flex;
  align-items: flex-start;
}

#icon{
  width: 5vw;
  height: 7vh;
}

#icon_name{
  font-family: 'Nunito', sans-serif;
  font-size: 1.75em;
  font-weight: 200;
  color: white;
  width: 90vw;
}

.TabWrapper{
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.tabs{
  width: 12vw;
  font-family: 'Nunito', sans-serif;
  font-weight: 200;
  font-size: 2.5em;
  color: white;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
}

.tabs:hover{
  text-decoration: underline;
}



/*

Workout Page

*/

#WoContainer{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100vw;
  min-height: 85vh;
}

#WoWrapper{
  display: flex;
  justify-content: space-around;

  margin-top: 2vh;
  width: 100%;
  height: 6vh;
}

.WoDropdownDiv{
  position: relative;
  display: inline-block;
  height: 100%;
  box-sizing: border-box;
}

.WoDropdownDiv:hover .WoViews{
  background-color: #1F0CAD;
  color: white;
  border:none;
}

.WoViews{
  width: 30vw;
  box-sizing: border-box;
  border: 1px solid #1F0CAD;

  font-family: 'Nunito', sans-serif;
  font-size: 2em;
  font-weight: 600;
  text-align: center;
  color: black;
  cursor: pointer;
}

.WoViewsDropdown{
  max-height: 25vh;
  overflow: auto;
  visibility: hidden;
  display:flex;
  flex-direction: column;
  background-color: #1F0CAD;
}

.WoDropdownDiv:hover .WoViewsDropdown{
  visibility: visible;
}

.WoDropdownItem{
  font-family: 'Nunito', sans-serif;
  font-size: 1.15em;
  font-weight: 200;
  color: white;
  border-top: 1px solid white;
  text-decoration: none;
  text-align: center;
}

.WoDropdownItem:active{
  color: red;
}

.CurrentRoutineWorkouts{
  width: 96.8vw;
  min-height: 75vh;

  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-top: 3vh;
  font-family: 'Nunito',sans-serif;
}

.CurrentRoutineWorkoutsTitle{
  width: 90.1vw;
  min-height: 10vh;
  display: flex;
  align-items: center;
  margin-bottom: 1vh;
  border: 1px solid #1F0CAD;
  padding: 1vh;
  box-sizing: border-box;
  overflow: hidden;
}

.CurrentRoutineWorkoutsTitle > p{
  font-family: 'Nunito',sans-serif;
  font-weight: 900;
  font-style: italic;
  font-size: 3em;
  color: #1F0CAD;
}

.CurrentRoutineWorkoutsTitle > p:first-of-type{
  margin-right: 3vh;
}

.CurrentRoutineItems{
  width: 90vw;
  min-height: 0vh;

  display: flex;
  flex-direction: column;
  align-items: center;

  border: 1px solid #1F0CAD;
  margin-bottom: 3vh;
  box-shadow: 10px 10px 10px #707070;
}

.CurrentRoutineItemHeader{
  width: 98.5%;
  height: 9vh;
  white-space: nowrap;
  overflow-x: auto;
  overflow-y: hidden;

  display: flex;
  justify-content: space-between;
  align-items: flex-start;

  font-size: 3em;
  font-weight: 200;
  color: #1F0CAD;

}

.CurrentRoutineSetsReps{
  width: 93.5%;
  margin-bottom: 1vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.CurrentRoutineSetsReps:last-of-type{
  margin-bottom: 3vh;
}

.CurrentRoutineSetsReps > p{
  height: 10vh;
  line-height: 1.9;
  font-size: 3em;
  font-weight: 200;
  color: #1F0CAD;
}

.CurrentRoutineValues, .CurrentRoutineValues:focus{
  resize: none;
  border: none;
  outline: none;
  white-space: nowrap;
  overflow-x: auto;
  overflow-y: hidden;

  width: 12vw;
  height: 10vh;
  border-bottom: 1px solid #1F0CAD;

  text-align: center;
  font-size: 3em;
  font-weight: 200;
  color: #1F0CAD;
  line-height: 1.75;
}

.SetDeleteBtn{
 height: 7vh;
 margin-top: 3vh;
 cursor: pointer;
}

.CurrentRoutineAddSet{
  height: 10vh;
  width: 100%;

  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 2vh;

  font-size: 2.25em;
  font-weight: 200;
  cursor: pointer;
}

.CurrentRoutineAddSet > p{
  margin-right: 1.75vh;
}

.CurrentRoutineAddSet:hover > p{
  color: #1F0CAD;
  text-decoration: underline;
}

#WoIconWrapper{
  width: 8.1vw;
  position: fixed;
  right: 0;
  bottom: 0;
}

.WoBtns{
  height: 8.5vh;
  width: 100%;
  cursor: pointer;
}

.WoBtns:hover{
  opacity: 0.75;
}
/*

Routine View Page


*/

#RoutineView{
  height: 100vh;
}

#RoutineHeader{
  position:sticky;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 10vh;
  width: 100vw;
  border-bottom: 1px solid #1F0CAD;
  background-color: white;
}

#RoutineHeaderWrapper{
  width: 90%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#RoutineName{
  width: 50%;
  height: 70%;
  resize: none;
  border: none;
  overflow-x: auto;
  overflow-y: hidden;
  white-space: nowrap;
}

 #RoutineName:focus, #RoutineName{
  outline: none;
  font-family: 'Nunito', sans-serif;
  font-weight: 800;
  font-style: italic;
  color: black;
  font-size: 2.85em;
}

#RoutineFinish{
  font-family: 'Nunito', sans-serif;
  font-weight: 200;
  font-size: 3em;
  text-decoration: none;
  color: #1F0CAD;
  cursor:pointer;
}

#RoutineFooter{
  position: sticky;
  bottom: 0;
  width: 100vw;
  height: 5vh;

  display: flex;
  justify-content: center;
  align-items: center;
  border-top: 1px solid #1F0CAD;
  background-color: white;
}

.FooterBtns{
  display: flex;
  justify-content: center;
  align-items: flex-end;
  font-family: 'Nunito', sans-serif;
  font-weight: 700;
  font-size: 2em;
  text-decoration: none;
  text-align: center;
  height: 100%;
  width: 50%;
}

.FooterBtns:hover{
  background-color: #1F0CAD;
  color: white;
}

.FooterBtns:active{
  color: red;
}

#RoutineBtn{
  border-right: 1px solid #1F0CAD;
}

#RoutineList{
  height:85vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: auto;
}

.RoutineLi{
  width: 90vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #1F0CAD;
  margin-top: 5vh;
}

.RoutineLiInfo{
  font-family: 'Nunito', sans-serif;
  font-size: 2em;
  font-weight: 200;
}

.RoutineLiDelBtn{
  color: #6F0CAD;
  cursor: pointer;
}

.EmptyRoutineMsg{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  white-space: pre;
  font-family: 'Nunito',sans-serif;
  font-size: 2em;
}

/*

ADD EXERCISE VIEW

*/

#AddExerciseView{
  height: 100vh;
}

#AddExerciseHeader{
  min-width: 100vw;
  height: 25vh;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;

  border-bottom: 1px solid #1F0CAD;
  font-family: 'Nunito',sans-serif;
}

#AddExerciseName{
  color: #1F0CAD;
  font-size: 1.75em;
}

#ExerciseSearchBar, #ExerciseSearchBar:focus{
  width: 79.8vw;
  height: 10vh;

  resize: none;
  border: 1px solid #1F0CAD;

  font-weight: 200;
  font-size: 2em;
}

#AddExerciseName{
  font-family: 'Nunito', sans-serif;
}

#AddExerciseOptionsWrapper{
  width: 80vw;
  display: flex;
  justify-content: space-between;
}

.AddExerciseOptions{
  height: 3.5vh;
  width: 20vw;

  position: relative;
  display: inline-block;

  font-size: 1em;
  font-weight: 200;
  cursor: pointer;
}

.AddExerciseOptions:hover .AeViews{
  color: white;
  background-color: #1F0CAD;
  border: none;
}

.AeViews{
  width: 20vw;
  height: 3.5vh;
  border: 1px solid #1F0CAD;
  box-sizing: border-box;

  font-family: 'Nunito', sans-serif;
  font-size: 1.25em;
  font-weight: 600;
  text-align: center;
}

.AeViews:hover{
  background-color: #1F0CAD;
  color: white;
  border:none;
}

.AeViewsDropdown{
  height: 30vh;
  width: 20vw;
  overflow: auto;

  visibility: hidden;
  text-decoration: none;
  display:flex;
  flex-direction: column;

  background-color: #1F0CAD;
}

.AddExerciseOptions:hover .AeViewsDropdown{
  visibility: visible;
}

.AeOptionItem{
  font-family: 'Nunito', sans-serif;
  font-size: 1.15em;
  font-weight: 200;
  color: white;

  border-top: 1px solid white;
  text-align: center;
}

.AeOptionItem:active{
  color: red;
}

#AddExerciseFavoriteBtn{
  width: 20vw;
  height: 3.75vh;
  border: 1px solid #1F0CAD;

  font-family: 'Nunito', sans-serif;
  font-size: 1.25em;
  font-weight: 600;
  text-align: center;
  cursor: pointer;
}

#AddExerciseFavoriteBtn:hover{
  color: white;
  background-color: #1F0CAD;
}

#AddExerciseList{
  height: 70vh;
  width: 100vw;
  overflow: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.AddExerciseItem{
  width: 80%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 1.5vh;

  font-family: 'Nunito',sans-serif;
  font-size: 2em;
  font-weight: 200;
  font-style: italic;
  margin-top: 1.5vh;
}

.AddExerciseCheckboxWrapper{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.AddExerciseCheckBox{
  border: 1.5px solid black;
  height: 25px;
  width: 25px;
  margin-bottom: 1.2vh;
}

.AddExerciseFavorite{
  height: 46.5px;
  width: 52.5px;
}

.AddExerciseCheckBox:hover , .AddExerciseFavorite:hover{
  cursor: pointer;
}

#AddExerciseConfirmation{
  height: 8vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  border-top: 1px solid #1F0CAD;

  font-family: 'Nunito', sans-serif;
  font-weight: 200;
  color: white;
  z-index: 1;

  background-color: blue;
}

/*

NUTRITION PAGE STUFF

*/

#NutritionContainer{
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  width: 100vw;
}


#NutritionView{
  height: 25vh;
  width: 85vw;

  display:flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;

  border: 1px solid #1F0CAD;
  margin-top: 2vh;
}

#CaloriesToday{
  font-family: 'Nunito', sans-serif;
  font-size: 5vw;
}

#NutritionViewMacroWrapper{
  width: 100%;
  height: 30%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.macros{
  font-family: 'Nunito', sans-serif;
  font-size: 3em;
  font-size: 3.5vw;
}

#NVButtonsWrapper{
  width: 85vw;
  height: 12vh;

  display: flex;
  flex-direction: column;
  margin: 1vh;
}

.NVInnerWrapper{
  width: 85vw;
  height: 100%;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.NVButtons{
  height: 5vh;
  width: 42vw;
  background-color: white;
  border: 1px solid #1F0CAD;

  font-family: 'Nunito',sans-serif;
  font-size: 1em;
  text-align: center;
  cursor: pointer;
  box-sizing: border-box;
}

.NVButtons:hover{
  background-color: #1F0CAD;
  color: white;
}

.NutritionMealDividers{
  width: 85vw;
  border: 1px solid black;
  margin-bottom: 3vh;
  box-shadow: 7px 7px 7px #707070;
}

.MealItemCollapsible{
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.MealNameWrapper{
  height: 7vh;
  width: 100%;

  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid black;

  background-color: #1F0CAD;
}

.MealNameWrapper > p {
  font-family: 'Nunito', sans-serif;
  font-size: 2em;
  font-weight: 200;
  color: white;
}

.NutritionDownArrowImg{
  height: 7vh;
  width: 6vw;
  margin-top: 1vh;
  cursor: pointer;
}

.MealItemsWrapper{
  margin-top: 1vh;
  margin-bottom: 1vh;
  height: auto;
  width: 95%;
}

.AddFoodImgWrapper{
  height: 7vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  border-top: 1px solid black;
  background-color: #1F0CAD;
  cursor: pointer;
}

.AddFoodImgWrapper:hover{
  opacity: 0.85;
}

.AddFoodImg{
  height: 6vh;
  width: 5vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.NutritionMealItems{
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #707070;
  margin-bottom: 1vh;
  cursor:pointer;
}

.NutritionMealItems > div{
  display: flex;
  align-items: flex-start;
  font-family: 'Nunito', sans-serif;
  font-size: 1.25em;
}

.NutritionMealItems > p{
  font-family: 'Nunito', sans-serif;
  font-size: 1.25em;
}

.NutritionDeleteBtn{
 height: 5vh;
 margin-left: 2vh;
 margin-top: 0.5vh;
}

.UpdateDeleteBars{
  position: fixed;
  bottom: 0;

  display: flex;
  justify-content: center;
  align-items: center;

  width: 85.1vw;
  height: 7vh;

  background-color: red;
  color: white;

  font-family: 'Nunito', sans-serif;
  font-size: 2em;
}

#UpdateBar{
  background-color: green;
}

.UpdateDeleteBars > p{
  margin-right: 2vh;
}

.BarOptns{
  cursor: pointer;
}

.DeleteBarOptns:active{
  color: #1F0CAD;
}

.NutritionItemModal{
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  overflow: auto;
}

.NutritionModalContent{
  opacity: 1;
  display: flex;
  flex-direction: column;

  height: 50vh;
  width: 50vw;
  background-color: white;
  border: 1px solid #1F0CAD;
}

.NutritionModalHeader{
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  padding: 1vh;
  width: 100%;
  min-height: 20%;
  background-color: #1F0CAD;
  color: white;
  font-weight: 500;
}

.NutritionModalHeader > div{
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.ModalServingDiv{
  display: flex;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  line-height: 1.5;
}

.NutritionModalTextArea{
  resize: none;
  border: none;
  outline: none;

  height: 70%;
  width: 10%;
  box-sizing: border-box;
  font-size: 1em;
  color: white;
  text-align: center;
  background-color: #1F0CAD;
  border-bottom: 1px solid white;
  line-height: 0.75;
}

.NutritionModalBody{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 70%;
  overflow: auto;
}

.NutritionModalItems{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 95%;
  height: 10%;
  border-bottom: 1px solid #1F0CAD;
  margin-top: 0.5%;
  margin-bottom: 0.5%;
}


/*

BMR Calculator for Nutrition Page

*/
#BMRCalculator{
  z-index: 1;
  position: absolute;
  top: 0;
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  font-family: 'Nunito', sans-serif;
}

#BMRHeader{
  overflow: auto;
  height: 15vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 10px;
  color: #1F0CAD;
}

#BMRHeader > h1{
  height: 50%;
  font-size: 3em;
}

#BMRHeader > p{
  height: 50%;
  padding: 5px;
  box-sizing: border-box;
}

#userInfoOuter{
  height: 70vh;
  width: 100vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.userInfoColumn{
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.userInfoWrapper{
  width: 40vw;
  display:flex;
  justify-content: space-between;
  align-items: center;
}

.userTraits{
  font-size: 3em;
}

.userTraitsAnswer{
  border: 1px solid #707070;
  height: 6vh;
  width: 12vw;
  resize:none;
  opacity: 0.8;
}

#ftInWrapper{
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: auto;
  width: 12vw;
}

#feet, #inches{
  width: 5vw;
}

#cm{
  display:none;
}

.userTraitsAnswer:focus, .userTraitsAnswer,
#feet:focus, #inches:focus,
#feet, #inches
{
 outline: none;
 font-weight: 200;
 color: #1F0CAD;
 font-size: 2em;
}

.BMRDropdownWrapper{
  height: 6vh;
  cursor: pointer;
}

.BMRDropdownWrapper:hover .BMRDropdownDiv{
  background-color: #1f0cad;
  color: white;
  border:none;
}

.BMRDropdownDiv{
  width: 12vw;
  border: 1px solid #707070;
  font-size: 1.65em;
  font-weight: 200;
  text-align: center;
  color: #1F0CAD;
}

.BMRDropdownDiv:hover{
  background-color: #1f0cad;
  color: white;
  border:none;
}

.BMRDropdown{
  display:none;
  text-decoration: none;
  flex-direction: column;
  border: 1px solid #1f0cad;
  background-color: #1f0cad;
}

.BMRDropdownWrapper:hover .BMRDropdown{
  display:flex;
}

.ActivityDropdownLi, .GoalDropdownLi{
  font-weight: 200;
  color: white;
  border-top: 1px solid white;
  text-decoration: none;
  text-align: center;
}

.ActivityDropdownLi:active, .GoalDropdownLi:active{
  color: red;
}

.BMRButton{
  overflow: auto;
  position: fixed;
  bottom: 4vh;
  width: 11vw;
  height: 7vh;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #1F0CAD;
  font-size: 2em;
  text-decoration: none;
  color: black;
  cursor: pointer
}

.BMRButton:hover{
  background-color: #1F0CAD;
  color: white;
}

#BMRCalculateBtn{
  right: 51vw;
}

#BMRFinishBtn{
  right: 35vw;
}

#BMRModal{
  position: absolute;
  background-color: rgba(0,0,0,0.7);
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
}

#BMRModalContent{
  height: 50vh;
  width: 50vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: white;
  color: #1F0CAD;
  font-size: 5em;
  font-weight: 200;
}


/*

Macro Calculator for Nutrition Page

*/
#MacroCalculator{
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: 'Nunito',sans-serif;
}

#macroTitleWrapper{
  min-width: 100vw;
  height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid black;
  margin-bottom: 2vh;
}

#MacroTitle{
  display: flex;
  justify-content: center;
  color: #1F0CAD;
  font-size: 3em;
}

#macroInfoDiv{
  width: 95vw;
  white-space: pre-line;
  border: 1px solid black;
  font-size: 1.5em;
  padding-left: 1vh;
  margin-bottom: 1vh;
}

#macroBoxWrapper{
  height: 45vh;
  width: 95vw;
  display: flex;
  justify-content: space-around;
}

#macroValueSpecifier,
.macroWrapper{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.macroPercentBox, .macroPercentBox:focus{
  height: 7vh;
  width: 10vw;
  border: 1px solid #1F0CAD;
  resize:none;
  font-size: 2.5em;
  color: #1F0CAD;
  text-align: center;
}

#macroValueSpecifier > p,
.macroWrapper > p{
  font-size: 2em;
  font-weight: 200;
  color: #1F0CAD;
}

/*
#MacroButtonWrapper{

} */

#MacroFinishButton{
  position: fixed;
  bottom: 5vh;
  right: 2.5vw;
  width: 11vw;
  height: 7vh;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #1F0CAD;
  font-size: 2em;
  text-decoration: none;
}

#MacroFinishButton:hover{
  background-color: #1F0CAD;
  color: white;
}

/*

TOTAL NUTRIENTS PAGE

*/
#NutritionTotals{
  width: 100vw;
  height: 100vh;
  font-family: 'Nunito',sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#NutritionTotals > h1{
  height: auto;
  width: 100%;
  display: flex;
  justify-content: center;
  color: #1F0CAD;
  font-weight: 200;
  font-size: 3em;
}

#NutritionTotalsContentWrapper{
  height: 90%;
  width: 100%;
  display: flex;
  flex-direction: row;
}

#NutritionTotalsList{
  width: 30%;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: auto;
}

.NutritionTotalRows{
  width: 100%;
  height: auto;
  display: flex;
  justify-content: space-between;
  font-size: 1.5em;
  padding: 5px;
  box-sizing: border-box;
}

.NutritionTotalRows:nth-child(odd){
  background-color: #1F0CAD;
  color: white;
}

.NutritionChart{
  width: 70%;
}

/*

Add Food Page

*/
#AddFoodView{
  height: 100vh;
}

#AddFoodHeader{
  min-width: 100vw;
  height: 25vh;

  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;

  border-bottom: 1px solid #1F0CAD;
}

#AddFoodHeader > h1{
  font-family: 'Nunito',sans-serif;
  font-size: 2.5em;
  color: #1F0CAD;
}

#AddFoodSearch, #AddFoodSearch:focus{
  resize: none;
  border: 1px solid #1F0CAD;
  height: 10vh;
  width: 79.8vw;
  font-family: 'Nunito',sans-serif;
  font-size: 3em;
  font-weight: 200;
}

#AddFoodButtonWrapper{
  height: 10vh;
  width: 80vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.SortBtns{
  width: 20vw;
  height: 5vh;
  border: 1px solid #1F0CAD;
  font-family: 'Nunito',sans-serif;
  font-size: 1.5em;
  font-weight: 200;
  overflow: auto;
}

.SortBtns:hover{
  background-color: #1F0CAD;
  color: white;
  cursor: pointer;
}

#AddFoodCounter{
  position: sticky;
  bottom: 0vh;
  left: 92vw;

  display: flex;
  justify-content: center;
  align-items: center;

  height: 7vh;
  width: 100vw;
  border-top: 1px solid #1F0CAD;
  color: #1F0CAD;
  font-size: 2em;
}

#FavoriteFoodMsg{
  text-decoration: underline;
  cursor: pointer;
}

#AddFoodItemList{
  height: 68vh;
  width: 100vw;
  overflow: auto;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.AddFoodItem{
  width: 80%;
  display: flex;
  justify-content: space-between;
  margin-top: 1.5vh;

  font-family: 'Nunito',sans-serif;
  font-size: 1.5vw;
  font-weight: 200;
  font-style: italic;
  cursor:pointer;
}

#AddFoodCheckboxWrapper{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.AddFoodCheckBox{
  border: 1.5px solid black;
  height: 25px;
  width: 25px;
  margin-bottom: 1.2vh;
}

.AddFoodFavorite{
  height: 46.5px;
  width: 52.5px;
}

/*

STORY PAGE STUFF

*/

#Story{
  width: 100vw;
  height: auto;
}

#StorySubmission{
  width: 100vw;
  height: 40vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

#StorySubmitText, #StorySubmitText:focus{
  resize: none;
  border: 1px solid #1F0CAD;
  height: 25vh;
  width: 85vw;
  box-sizing: border-box;
  font-family: 'Nunito',sans-serif;
  font-size: 2em;
  font-weight: 200;
}

#StorySubmissionButtons{
  height: 10vh;
  width: 85vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.inputFile{
  height: 0.1px;
  width: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}

.inputLabel{
  height: 7vh;
  width: 20vw;
  white-space: nowrap;
  overflow: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #1F0CAD;
  padding: 2px;
  box-sizing: border-box;
  font-family: 'Nunito',sans-serif;
  cursor: pointer;
}

.inputLabel:hover{
  background-color: #1F0CAD;
  color: white;
}

.inputLabel:active{
  color: red;
}

#StorySubmitBtn{
  height: 7vh;
  width: 8vw;
  background-color: #1F0CAD;
  color: white;
  font-size: 0.85em;
}

#StorySubmitBtn:hover{
  opacity: 0.85;
  cursor: pointer;
}

#StoriesList{
  width: 100%;
  /* height: 60%; */
  display: flex;
  flex-direction: column;
  align-items: center;
}

.Stories{
  width: 85%;
  box-sizing: border-box;
  /* height: 10%; */
  flex: 1;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;

  border: 1px solid #1F0CAD;
  font-family: 'Nunito',sans-serif;
}

.StoriesDateDiv{
  width: 100%;
  height: 5%;

  display: flex;
  align-items: center;
  justify-content: flex-start;

  background-color: #1F0CAD;
  color: white;
  font-size: 1.25em;
}

.StoriesTextDiv{
  margin: 2vh;
  width: 98%;
  min-height: 5vh;
  overflow: auto;
  font-size: 1.25em;
}

.StoriesMediaDiv{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-height: 80%;
  margin-bottom: 1%;
}

.StoriesMediaDiv > img{
  max-width: 100%;
}

.StoriesButtonWrapper{
  width: 85%;
  margin-top: 1vh;
  margin-bottom: 3vh;
}

.StoriesButtonWrapper > button{
  width: 15vw;
  height: 5vh;
  background-color: white;
  border: 1px solid #1F0CAD;
  box-sizing: border-box;
  cursor: pointer;
}

.StoriesButtonWrapper > button:first-child{
  margin-right: 2vw;
}

.StoriesButtonWrapper > button:hover{
  background-color: #1F0CAD;
  color: white;
}

#StoryModal{
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0,0,0,0.5);
}

#StoryModalContent{
  font-family: 'Nunito', sans-serif;
  width: 50%;
  height: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
}

#StoryModalHeader{
  width: 100%;
  height: 15%;
  display: flex;
  justify-content: space-between;
  padding: 0px 10px 0px;
  box-sizing: border-box;
  align-items: center;
  background-color: #1F0CAD;
  color: white;
  font-size: 2em;
}

#StoryModalHeader > p:nth-child(even){
  cursor: pointer;
}
#StoryModalText, #StoryModalText:focus{
  outline: none;
  resize: none;
  border: none;
  height: 50%;
  width: 100%;
  margin-bottom: 10px;
  padding-left: 3px;
  box-sizing: border-box;
  font-weight: 200;
  font-size: 2em;
}

#StoryModalBtnWrapper{
  width: 100%;
  height: 35%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-top: 1px solid #1F0CAD;
  box-sizing: border-box;
}

#StoryModalBtnWrapper > label{
  margin-right: 2.5%;
}

#StoryModalBtnWrapper > button{
  height: 7vh;
  width: 20vw;
  border: 1px solid #1F0CAD;
  box-sizing: border-box;
  margin-left: 2.5%;
  font-size: 1em;
  cursor: pointer;
}

#StoryModalBtnWrapper > button:hover{
  background-color: #1F0CAD;
  color: white;
  cursor: pointer;
}
